<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.my.ziapro.mapper.ProductMapper">
	<!-- 상품 페이지 -->
	<select id="Category1"
		resultType="com.my.ziapro.model.ProductVO"> SELECT pnum, pname, price, scode, image_path as imagePath
		FROM products WHERE category_Id = 1 </select>
	<select id="Category2"
		resultType="com.my.ziapro.model.ProductVO"> SELECT pnum, pname, price, discount, scode, imagepath as
		imagePath FROM products WHERE categoryId = 2 </select>
	<select id="Category3"
		resultType="com.my.ziapro.model.ProductVO"> SELECT pnum, pname, price, scode, image_path as imagePath
		FROM products WHERE category_Id = 3 </select>
	<select id="Category4"
		resultType="com.my.ziapro.model.ProductVO"> SELECT pnum, pname, price, scode, image_path as imagePath
		FROM products WHERE category_Id = 4 </select>

	<!-- 상세보기 -->
	<select id="productDetail"
		resultType="com.my.ziapro.model.ProductVO"> SELECT pnum, pname, price, scode, start_date, imagepath
		AS imagePath FROM products WHERE pnum = #{pnum} </select>
	
	<select id="mDetail" resultType="com.my.ziapro.model.ProductVO"> SELECT pnum, pname, price,
		discount, scode, imagepath AS imagePath FROM products WHERE pnum =
		#{pnum} </select>
	
	<select id="gDetail" resultType="com.my.ziapro.model.ProductVO"> SELECT pnum, pname, price,
		scode, imagepath AS imagePath FROM products WHERE pnum = #{pnum}
	</select>

	<select id="sDetail" resultType="com.my.ziapro.model.ProductVO"> SELECT pnum, pname, price,
		scode, imagepath AS imagePath FROM products WHERE pnum = #{pnum}
	</select>

	<!-- 검색 -->
	<select id="find" resultType="com.my.ziapro.model.ProductVO"
		parameterType="string"> SELECT * FROM products WHERE pname LIKE
		'%'||'${pname}'||'%' </select>
</mapper>