<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>프룻 이달의 매거진</title>
<link rel="stylesheet" type="text/css" href="/css/megazine.css">
</head>
<body>


<div id="logo"> 
		<img src="../images/foomain.jpg" alt="메인로고">
</div>
<h1>이 달의 푸룻 매거진</h1>
<div id="image-megazin">
			<img class="image-megazin" src="../images/메거진.jpg" alt="1페이지">
    		<img class="image-megazin" src="/images/메거진1.jpg" alt="3페이지">
  		    <img class="image-megazin" src="/images/메거진3.jpg" alt="4페이지">
    		<img class="image-megazin" src="/images/메거진4.jpg" alt="5페이지">
    	    <img class="image-megazin" src="/images/메거진5.jpg" alt="6페이지">
    		<img class="image-megazin" src="/images/메거진6.jpg" alt="6페이지">         			
</div>			

<div id="gobuttons2">
    <a href="/product/product4" id="goButton2">기획전 상품 페이지 GO!</a>
</div> 

</body>
</html>