<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>소개페이지</title>
<link rel="stylesheet" type="text/css" href="/css/soge.css">
</head>
<body>

<div id="logo"> 
   		 <img src="../images/foomain.jpg" alt="메인로고">
</div>
  
  
<div id="images">
	<img src="../images/소개1.jpg" alt="soge1">
	<img src="../images/소개2.jpg" alt="soge1">
	<img src="../images/소개3.jpg" alt="soge1">
	<img src="../images/소개4.jpg" alt="soge1">
	<img src="../images/소개7.jpg" alt="soge1">
	<img src="../images/소개5.jpg" alt="soge1">	
	<img src="../images/소개6.jpg" alt="soge1">
</div>
  
  
  
  
  
<div id="buttons-container">
    <a id="buttons" href="/product/product1">주문하러가기</a>
</div>
  
</body>
</html>